!!!

.wrapper
  = render 'devise/shared/side_bar'

  %div.right-content
    %div.right-top-content
      %div.group-information
        %div.group-name-on-right group-name
        %div.member-list member
      %a.edit-button edit
    .right-middle-content
      = render @messages

    .right-bottom-content
      .form
        = form_for [@group, @message] do |f|
          .input-box
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            = f.label :image, class: 'form__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'


